-
name: The Black Swan Crisis
slug: 2026-09-black-swan
date: 26 September 2026
time: 7:00 PM – 10:30 PM
venue: Ark-T @ The Venue, OX4 3RQ
location: OXFORD
tagline: Disaster, geopolitics, and the unexpected.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/2415189
listImage: images/black-swan.jpg
bannerImage: images/black-swan.jpg
description: |
  The Black Swan Crisis is a narrative focused game of geopolitics meeting the unknown. Deploy your limited resources wisely and creatively, cooperate or betray, and create a shared narrative that shapes the world’s future.

  International relief efforts, civil wars, political turmoil – the world is in crisis and you will take on the role of a national or global leader trying to navigate it.

  …and then things get worse – maybe a zombie plague, maybe Atlantis rises from the ocean, or maybe aliens are discovered on Mars – all you can do is expect the unexpected.

  Can you work out what’s going on, and make the right decisions? And can you push your own agenda forward at the same time?

  This is a 3 hour megagame for up to 24 players and the rules will be explained on the day.

  **Age 18+ only event.**
-
name: Heist!
slug: 2025-07-heist
date: 4 July 2025
time: 7:00 PM – 10:30 PM
venue: The Venue, OX4 3RQ
location: OXFORD
tagline: A crime caper from both sides of the bank doors.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/1748446
listImage: images/heist.jpg
bannerImage: images/heist.jpg
description: |
  This event was changed from Crisis: Mars to Heist! due to a lack of ticket sales.

  'Heist!' is an asymmetric crime caper that puts players in the roles of both a heist crew inside a bank, and the authorities outside trying to stop them. Players join one of two teams - either the misfit thieves, trying to manage the confusion within the bank and keep their team together, or the authorities, working on securing the outside of the bank and gaining key information, while managing their own internal politics.

  Turn up from 6:45 for a 7:00 start, the rules and more detailed setting information will be provided on the night.
-
name: The Raven Banner
slug: 2025-05-raven-banner
date: 9 May 2025
time: 6:45 PM – 10:30 PM
venue: The Venue, OX4 3RQ
location: OXFORD
tagline: Fight and negotiate for your future in Viking-age England.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/1667512
listImage: images/raven-banner.jpg
bannerImage: images/raven-banner.jpg
rules: https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_308baa9fb20d4a78ad1cceb51c24007d.pdf
description: |
  For decades Danish raiders have been pillaging the coasts of England, but recently the “Great Heathen Army” conquered the northernmost kingdom of Northumbria.

  As a Saxon aristocrat or Danish raider you will be fighting and negotiating to ensure the best future for yourselves in this chaotic and violent era.

  The Raven Banner is a small Megagame for up to 16 players that recreates the 9th century Viking Invasion of England and the establishment of Danelaw. The game is suitable for players new to this type of game and requires no prior historical knowledge of the period.

  You are encouraged to read the game rules in advance.

  Parking is available on street from 6:30pm both on Barnes Road and in the nearby residential streets (the nearby multistory carpark closes at 6:30pm).

  The Standard tickets help cover the cost of the venue and supplies. Supporter tickets pay a little extra to help cover the costs of creating components for new games and the like. Your ticket type has no effect in or out of the game and will not be remarked upon either way.
-
name: Death on High Seas
slug: 2025-02-death-on-high-seas
date: 14 February 2025
time: 6:30 PM – 10:00 PM
venue: The Venue, OX4 3RQ
location: OXFORD
tagline: A missing steward, hidden identities, and secrets at sea.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/1539250
listImage: images/death-on-high-seas.jpg
bannerImage: images/death-on-high-seas.jpg
description: |
  Murder awaits you!

  It’s the year 1947, cold October winds are blowing over the Atlantic. Two days ago, the British ocean liner Queen Charlotte has left Southampton for New York and already boredom has taken hold of the group of first-class passengers currently gathered in the dining room and on the promenade deck. There is not much to do apart from fine dining, drinking and smoking, a game of cards – and of course gossip. For the last two hours rumours have spread among the passengers: one of the second-class stewards has gone missing. The crew of course is trying to keep this quiet. Maybe the young man just had too much to drink and will make a reappearance soon. Or maybe something more sinister has been at work? The hobby detectives among the passengers are keen to investigate. Others have their own dirty secrets to worry about.

  This is a murder mystery game with hidden identities and secret objectives in which players will take on the roles of passengers and crew members solving a mystery, while trying to keep their own secrets. Some will arrive in New York richer and happier than before; others might not make it at all…

  Are you one of the lucky survivors of the tragedy about to unfold?

  Costumes are encouraged but not a must.

  The game has space for 10–13 players and will last about three hours.
-
name: Heist!
slug: 2024-10-heist
date: 18 October 2024
time: 6:45 PM – 11:00 PM
venue: The Venue, OX4 3RQ
location: OXFORD
tagline: Misfit thieves and the authorities trying to stop them.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/1399964
listImage: images/heist.jpg
bannerImage: images/heist.jpg
description: |
  'Heist!' is an asymmetric crime caper that puts players in the roles of both a heist crew inside a bank, and the authorities outside trying to stop them. Players join one of two teams - either the misfit thieves, trying to manage the confusion within the bank and keep their team together, or the authorities, working on securing the outside of the bank and gaining key information, while managing their own internal politics.

  You do not need to do anything to prepare in advance of the game.

  Parking is available on street from 6:30pm both on Barnes Road and in the nearby residential streets (the nearby multistory carpark closes at 6:30pm).

  The Standard tickets help cover the cost of the venue and supplies. Supporter tickets pay a little extra to help cover the costs of creating components for new games and the like. Your ticket type has no effect in or out of the game and will not be remarked upon either way.
-
name: The Raven Banner
slug: 2024-08-raven-banner
date: 2 August 2024
time: 6:45 PM – 10:30 PM
venue: The Venue, OX4 3RQ
location: OXFORD
tagline: Saxon aristocrats and Danish raiders shape the Danelaw.
tickets: https://www.tickettailor.com/events/oxfordhallofgames/1293211
listImage: images/raven-banner.jpg
bannerImage: images/raven-banner.jpg
rules: https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_308baa9fb20d4a78ad1cceb51c24007d.pdf
description: |
  For decades Danish raiders have been pillaging the coasts of England, but recently the “Great Heathen Army” conquered the northernmost kingdom of Northumbria.

  As a Saxon aristocrat or Danish raider you will be fighting and negotiating to ensure the best future for yourselves in this chaotic and violent era.

  The Raven Banner is a small Megagame for up to 16 players that recreates the 9th century Viking Invasion of England and the establishment of Danelaw. The game is suitable for players new to this type of game and requires no prior historical knowledge of the period.

  You are encouraged to read the game rules in advance.

  Parking is available on street from 6:30pm both on Barnes Road and in the nearby residential streets (the nearby multistory carpark closes at 6:30pm).

  The Standard tickets help cover the cost of the venue and supplies. Supporter tickets pay a little extra to help cover the costs of creating components for new games and the like. Your ticket type has no effect in or out of the game and will not be remarked upon either way.
